<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Water Bender - {%block title%}{%endblock%}</title>
		<link rel="shortcut icon" href="{{url_for('static', filename='img/waterbender.png')}}" >
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    {% block externalstylesheets %}
	    {% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/#">
				<img height="30px" src="{{url_for('static', filename='img/waterbender.png')}}">
				Water Bender
			</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
				<ul class="navbar-nav mr-1">
					{% block navitems %}
					{% endblock %}
				</ul>
			</div>
		</nav>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<div class="alert alert-primary text-center" role="alert">
				{{message}}
			</div>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}		
	</body>
	<footer>
		{% block config %} {% endblock %}
		{% block scripts %} {% endblock %}
	</footer>
</html>
