{% extends "base.html" %}

{% block title %}Home{% endblock%}

{% block navitems %}
<li class="nav-item active">
	<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/project-details">Project Details</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/register">Register</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/login">Login</a>
</li>
{% endblock %}

{% block content %}
<h1>Hello World</h1>
{% endblock %}